* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
html{
  scroll-behavior: smooth;
}
/* Section1 begins */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 0.7rem;
  color: rgba(128, 128, 128, 0.623);;
}
 header div {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  padding: 0 1rem;
}
 header .item1 p {
  border-right: 1px solid rgba(128, 128, 128, 0.623);
  padding: 0.5rem 1rem;
}
 header div i {
  border-left: 1px solid rgba(128, 128, 128, 0.623);
  padding: 0.5rem;
}
 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  position: sticky;
  top: 0;
}
nav h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
nav ul li {
  display: inline;
  padding: 0.5rem;
  font-size: 1rem;
}
nav a {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.623);
}
nav a:hover {
  color: black;
  transition: 2s;
  cursor: default;
}
nav .btn1 {
  padding: 0.5rem;
  color: rgba(0, 0, 255, 0.833);
  background-color: #fff;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
}
nav .btn1:hover {
  background-color: rgba(0, 0, 255, 0.253);
  border-radius: 7px;
  padding: 0.8rem 1rem;
  transition: 1s;
}
nav .btn2 {
  padding: 0.8rem 1rem;
  color: rgba(0, 0, 255, 0.833);
  background-color: rgba(0, 0, 255, 0.253);
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 8px;
}
nav button input {
  padding: 0.2rem;
  border: none;
  outline: none;
}
nav .btn3 {
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.623);
  padding: 0.5rem;
  border-radius: 7px;
}
/* Section1 styling begins */
.section1 .item3 {
  background-image: url("../images/pexels-brett-sayles-5916126.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: 5px 8px;
  background-attachment: fixed;
}
.section1 .overlay {
  background-color: white;
  width: 100%;
  height: 400px;
  opacity: 9;
}
.section1 .googlemaps {
     width: 100%;
     height: 450px;
}

.section1 .googlemaps iframe {
     height: 400px;
     width: 100%;
}
.section1 main .container h1{
  padding: 1rem;
}
.section1 main .container{
  padding: 2rem;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.623);
  width: 50%;
  height: 300px;
  border-radius: 7px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.208);
}
.section1 main .container .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: rgba(128, 128, 128, 0.623);
  font-weight: 600;
}
.section1 main{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.section1 main .container1{ 
  padding: 1rem;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.623);
  width: 45%;
  height: 350px;
  border-radius: 7px;
  color: rgba(128, 128, 128, 0.623);
  font-weight: 600;
  margin-top: -10rem;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.208);
}
.section1 main .container1 h1{
  padding: 1.5rem     ;
  color: black;
}
.section1 main .container1 button{
  padding: 1rem;
  width: 90%;
  margin-left: 1.5rem;
  color:white;
  background-color: rgba(0, 0, 255, 0.833);
  border: none;
  border-radius: 7px;
}
.section1 main .container1 input, textarea{
  padding: 0.8rem 1rem;
  margin: 0.5rem 1rem;
  border: 1px solid rgba(128, 128, 128, 0.623);
  outline: none;
  border-radius: 7px;
  font-size: 0.8rem;
}

.section1 main .container1 input:hover, textarea:hover {
border: 2px solid rgba(0, 0, 255, 0.384);
}
.section1 main .container1 input:active, textarea:active {
border: 2px solid rgba(0, 0, 255, 0.384);
}
/* Section1 styling Ends *

/* Section2 Styling Begins */
.section2 {
  background-color: rgba(0, 0, 0, 0.811);
  margin-top: 2rem;
}
.section2 h1 {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2rem;
  color: #fff;
  font-weight: 800;
}
.section2 .p1 {
  text-align: center;
  font-size: 0.8rem;
  padding-top: 1rem;
  color: rgba(128, 128, 128, 0.623);
}
.section2 footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 3rem;
  color: rgba(128, 128, 128, 0.623);
  border-top: 1px solid rgba(128, 128, 128, 0.623);
  background-color: rgba(0, 0, 0, 0.32);
}
.section2 footer div {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  font-size: 0.8rem;
  padding: 0 1rem;
}
.section2 footer .item1 p {
  border-right: 1px solid rgba(128, 128, 128, 0.623);
  padding: 1rem 1rem;
}
.section2 footer div i {
  border-left: 1px solid rgba(128, 128, 128, 0.623);
  padding: 1rem;
}
.section2.p2 {
  text-align: right;
}
.section2 .hover:hover {
  color: white;
  transition: 2s;
  cursor: pointer;
}
.section2 button .uil-angle-up {
  background-color: rgba(0, 0, 255, 0.833);
  color: #fff;
  border-radius: 5px;
  padding: 0.2rem 0.3rem;
  font-size: 2rem;
  box-shadow: 5px 8px 10px rgba(12, 12, 255, 0.253);
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#btn{
  display: none;
}
/* Section2 styling Ends */